# Python

black==23.3.0

# Green API

whatsapp-api-client-python==0.0.34

# Google API

google-api-python-client==2.86.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0

# Django

django==4.2.1

whitenoise==6.4.0
