*
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    outline: none;
    line-height: 150%;
    margin: 0 auto;
    padding: 0;
}

.text-vgap16
{
    margin-bottom: 16px;
}

.forms-container,
.toggle-forms-container
{
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #fff;
    box-shadow: 0 8px 32px;
    border-radius: 16px;
    margin: 0 auto;
    padding: 15px;
}

.forms-container
{
    margin-top: 15px;
}

/* @media (min-width:920px)
.forms-container
{
    margin-top:28px;
}

@media (min-width:520px)
.forms-container,.toggle-forms-container
{
    padding:32px;
} */

.forms-container__form,
.forms-container__title,
.theme-light .forms-container__form,
.theme-light .forms-container__title
{
    color: #2a2e35;
}

.tabs
{
    display: flex;
    flex-shrink: 0;
    position: relative;
    grid-gap: 32px;
    gap: 32px;
    overflow-x: auto;
    margin-bottom: 16px;
}

.tabs__tab--active.tabs__tab
{
    color: #f73;
    font-family: "Roboto-Bold", Arial, sans-serif;
}

.tabs__tab,
.theme-light .tabs__tab
{
    color: #808185;
}

.tabs__tab
{
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.button--disabled:not(.button--icon),
.theme-light .button--disabled:not(.button--icon)
{
    background-color: #f8f8f8;
}

.button--stretch
{
    width: 100%;
}

.button--disabled
{
    outline: none;
    cursor: not-allowed;
    color: #aaabad;
}

.button--xl
{
    min-height: 48px;
    padding: 11px 24px;
}

.button--xl,
.button--xxl
{
    font-size: 16px;
    line-height: 26px;
}

.button
{
    font-family: "Roboto-Medium", Arial, sans-serif;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: initial;
    color: inherit;
    position: relative;
    white-space: nowrap;
    transition: all .2s;
}

button, select
{
    text-transform: none;
}

button, input
{
    overflow: visible;
}

.wrapper.footer__wrapper
{
    position: relative;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.wrapper
{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.theme-light .footer
{
    color: #55575c;
}

.footer
{
    border-width: 1px 0 0;
    border: solid #d5d5d6;
    color: #55575c;
    margin: 0 auto;
}