{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Ufanet whatsapp bot</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="{% static 'web/assets/favicon.ico' %}" type="image/x-icon" rel="icon" />
    <link href="{% static 'web/css/styles.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'web/css/modal.css' %}" type="text/css" rel="stylesheet" />

    <script src="{% static 'web/js/script.js' %}" type="text/javascript"></script>
</head>

<body>
    {% include "web/modal.html" %}

    <div class="body-content">
        <div class="logo-container">
            <a href="https://www.ufanet.ru/">
                <img class="logo-ufanet" src="{% static 'web/assets/svg/logo-ufanet.svg' %}" />
            </a>
            <a href="/">
                <img class="logo-whatsapp" src="{% static 'web/assets/svg/logo-whatsapp.svg' %}" />
            </a>
        </div>

        <div class="forms-container">
            <div class="forms-container__title">Настройки бота</div>
            <div class="forms-container__form">
                
                <div class="tabs">
                    <div class="tabs__tab tabs__tab--active">Сообщение</div>
                    <div class="tabs__tab">Google таблица номеров</div>
                    <div class="tabs__tab">Log бота</div>
                </div>

                {% include "web/form_content.html" %}

            </div>
        </div>
        
        <div class="footer">
            <div class="footer__text">2023 SBH Team</div>
        </div>

    </div>
</body>

</html>
