<form action="{% url "home" %}" class="forms-container__wrapper-content" method="post">
    {% csrf_token %}
    
    <div class="form--content">
        {{ settings_form.to_send_message }}
    </div>

    <div class="form--content" style="display: none;">
        {{ settings_form.id_google_sheet }}
        {{ settings_form.id_data_column_google_sheet }}
    </div>

    <div class="form--content" style="display: none;">
        {% include "web/log.html" %}
    </div>

    <button class="button button--stretch button--primary button--xl button--disabled" disabled type="submit" id="submit-btn" name="action" value="save">
        <div class="button-title" style="opacity: 1;">Сохранить настройки</div>
    </button>
    <button class="button button--stretch button--primary button--xl {% if no_settings %}button--disabled{% else %}button--filled{% endif %}" type="submit" id="send-msg-btn" name="action" value="send">
        {% comment %} <a href="/" class="filled--button--link"></a> {% endcomment %}
        <div class="button-title" style="opacity: 1;">{% if has_google_token %}Отправить сообщение{% else %}Дать доступ к Google-таблице{% endif %}</div>
    </button>
</form>
