{% extends 'web/base.html' %}

{% block form_content_botsetting %}

    <div class="menu">
        <div class="input-wrapper">
            <textarea class="input" placeholder="Введите сообщение для отправки. Текущее сообщение:" name="input input--stretch input--xl" cols="40" rows="5"></textarea>
        </div>
    </div>

    <div class="menu" style="display: none;">

        <div class="input-wrapper" id="input">
            <input class="input google" placeholder="Введите ссылку на Google-таблицу. ID текущей таблицы: " name="input input--stretch input--xl" cols="40" rows="5" />
        </div>
    
        <div class="input-wrapper" id="input">
            <input class="input google" placeholder="Введите букву столбика, где лежат номера (A-Z), текущий столбик: " name="input input--stretch input--xl" cols="40" rows="5" />
        </div>

    </div>

{% endblock form_content_botsetting %}

{% block form_content_log %}

    <div class="menu" style="display: none;">
        <div class="log">
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999999<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999998<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999997<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999996<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999995<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999994<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999993<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999992<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999991<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999990<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999989<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999988<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999987<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999986<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999985<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999984<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999983<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999982<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999981<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999980<br/>
            [2023-05-18|14:05:12|UTC+3] <Bot> {Send Message} Sent message to phone number 79999999979<br/>
        </div>                
    </div>

{% endblock form_content_log %}
