<!DOCTYPE html>
<html lang="ru">

<head>
    <link href="../static/css/styles.css" rel="stylesheet">
</head>

{% load static %}
<div class="text-vgap16">

	<div class="text-center">
		<a href="https://www.ufanet.ru/" target="_blank">
			<img src="logo_ufanet.svg" class="forms-container-logo logo-company" />
		</a>
		<a href="#" target="_blank">
			<img src="{% static 'assets/img/logo_whatsapp.svg' %}" class="forms-container-logo logo-company" />
		</a>
	</div>

	<div class="forms-container">

		<div class="text-vgap24 forms-container__title">
			Настройки бота
		</div>

		<div class="forms-container__form">
			<div class="tabs">
				<div class="tabs__tab tabs__tab--active">Google таблица номеров</div>
				<div class="tabs__tab">Сообщение</div>
				<div class="tabs__tab">Log бота</div>
			</div>

			<form class="forms-container__wrapper-content">
				<div class="text-vgap16">
					<div class="input-container">
						<div class="input-wrapper"><input placeholder="Номер договора" autocomplete="new-login" type="text" class="input input--stretch input--xl" value="" /></div>
					</div>
				</div>
				
				<div class="text-vgap16">
					<div class="input-container">
						<div class="input-wrapper">
							<input placeholder="Пароль" id="authPassword_home" autocomplete="new-password" type="password" class="input input--stretch input--xl" value="" />
							<button type="button" class="button button--xl button--padding0 button--icon">
								<svg viewBox="0 0 24 24" width="24" height="24" fill="none" class="icon icon--xl cursor-pointer" xmlns="http://www.w3.org/2000/svg">
									<use xlink:href="/static/media/sprite.33e402e5.svg#eyeOff" style="fill: rgb(170, 171, 173);"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<button class="button button--stretch button--primary button--xl button--disabled" disabled="" type="submit">
					<div class="button-title" style="opacity: 1;">Сохранить</div>
					<div class="button-spinner"></div>
				</button>
			</form>
		</div>
	</div>
</div>

<div class="footer">
    <div class="footer__wrapper wrapper">
		<div class="footer__copy">2023 SBH team</div>
    </div>
</div>

